@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-darkpink: #3d0325;
    --color-pink: #f36ed4;

    --font-large: 48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;

}
*{box-sizing: border-box;}
body{
    font-family: 'OTWelcomeRA', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
    
}
li{
    list-style: none;
}

button{
    background-color: black;
    cursor: pointer;
    border: none;
    outline: none;
}

h1{
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);
    color: var(--color-black);
    margin: 8px 0px;
}

h3{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-darkpink);
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-white);
}

.navbar__menu{
    display: flex;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}

.navbar__menu__item.active{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover{
    background-color: var(--color-pink);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* í™ˆ */
#home{
    background: url(./images/background.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title, .home__description{
    color: var(--color-white);
}

.home__contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}